#Own
.vs
bin
bin-int

# Executables
#*.exe
*.out
*.app
#*.sln
*.user
*.filters
#*.vcxproj
#/Assets/Resources
/Export
/FileManager/DecryptedImage.png
/FileManager/Test.dat
/FileManager/Test3.data
/FileManager/Text.data
/Swaglords of Space/Resources/Capture/*
